.DS_Store
*.o
*.dylib
*.d
/applications/unbounded_domains/adwav/adwav-realline-helmholtz1d-wo-XBSpline
/applications/unbounded_domains/adwav/adwav-realline-helmholtz1d-w-XBSpline
validate/testWeightedIntegrals2
validate/test_sparsegridmult
validate/test_sparsevector
applications/finance/test_sparsevector
applications/unbounded_domains/validate/testDecayMatrixEntriesNonConstCoeffDiffOp
tutorials/examples/tensorfullgridhelmholtz2d
validate/test_tensorfullgridmult2d
validate/test_tensorsparsegridmult2d
tutorials/examples/tensorsparsegridhelmholtz2d
validate/test_lambdaTilde
validate/test_multiwavelets_interval
validate/test_multiwavelets_realline
applications/unbounded_domains/validate/test_MW_APPLY1D
applications/unbounded_domains/parameters/eigenvalues_mw
applications/unbounded_domains/adwav/ghs-adwav-realline-mw-helmholtz1d/tutorials/rb_examples/rb_example
/tutorials/rb_examples/adaptive_rb_example
