export VIM=vim
export VIMRUNTIME=/usr/share/vim/vim72

export TMP_DIR=/tmp/doctool
export LOGFILE=${TMP_DIR}/doc.log
export ERRORLOGFILE=${TMP_DIR}/doc.error.log

export DOCSRC_DIR=${PWD}
export DOCTOOL_HOME=${HOME}/DocTool

export HTML_DIR=${HOME}/Sites/LAWA-lite
export HTML_SOURCEFILES=${HTML_DIR}/src
export DOWNLOAD_DIR=${HTML_DIR}/downloads
export IMG_DIR=${HTML_DIR}/img

export CODE_DIR=${FLENS_HOME}

export TEMPLATE_DIR=${DOCTOOL_HOME}/templates
export SLIDE_HEADER=${TEMPLATE_DIR}/slide_header
export SLIDE_FOOTER=${TEMPLATE_DIR}/slide_footer

export LATEX_HEADER=${TEMPLATE_DIR}/latex_header.tex
export LATEX_FOOTER=${TEMPLATE_DIR}/latex_footer.tex
export LATEX_FORMULA=${TEMPLATE_DIR}/latex_formula.tex

# FOOTER
export YEAR=`date "+%Y"`
export AUTHOR="Alexander Stippler"
export AUTHOR_WEBSITE="http://www.alexander-stippler.de"
